@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-color: #f73471;
  --black-color: #000;
  --light-color: #868e96;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

::selection {
  background: var(--main-color);
  color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behaviour: smooth;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fafafa;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

section{
  padding: 2rem 9%;
}

.heading{
  font-size: 4rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: var(--black-color);
  text-transform: uppercase;
}

.heading span{
  text-transform: uppercase;
  color: var(--main-color);
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  background: #fff;
  font-weight: 500;
  cursor: pointer;
  color: var(--main-color);
  font-size; 1.7rem
}

.btn:hover{
  backgroung: var(--main-color);
  color: #fff;
  letter-spacing: .1rem
}

/* ---------- header section start here ---------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header .logo {
  font-size: 2.5rem;
  color: #ffd700;
  font-weight: bold;
  tex-transform: uppercase;
  letter-spacing: .1rem;
}

.header .logo span {
  color: var(--main-color);
  text-transform: uppercase;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #333;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--main-color);
}

.header .icons div {
  font-size: 2.5rem;
  color: #333;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.header .icons div:hover {
  transform: rotate(180deg);
  color: var(--main-color);
}

.header .icons a {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
  background: var(--main-color);
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border: none;
}

.header .icons a:hover {
  color: var(--main-color);
  background: #fff;
}

#menu-btn {
  display: inline-block;
}

.header.active{
  padding: 2rem 9%;
  background: rgba(0, 0, 0, .9);
}

section{
  padding: 2rem;
}

/* ---------- header ssection end here ---------- */

/* ---------------------------------------- home section starts ---------------------------------------- */

.home{
  padding: 0%;
}

.home .home-slider .box{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-size: cover !important;
  background-position: center !important;
}

.home .home-slider .box .content{
  text-align: center;
  max-width: 70rem;
}

.home .home-slider .box .content h3{
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  transition-delay: .2s;
}

.home .home-slider .box .content p{
  font-size: 1.7rem;
  color: #eee;
  padding: 1rem 0;
  transition-delay: .4s;
}

.home .home-slider .box .button .btn-1{
  background: var(--main-color);
  color: #fff;
  margin-right: .5rem;
}

.home .home-slider .box .button .btn-1:hover{
  background: #fff;
  color: var(--main-color);
}

.home .home-slider .box .button {
  transition: .6s;
}

.home .home-slider .box .content > *{
  transform: translateY(2rem);
  opacity: 5.6;
}

.home .home-slider .swiper-slider-active .content > *{
  transform: translateY(0);
  opacity: 1;
}

/* ---------------------------------------- home section ends ---------------------------------------- */

/* ---------------------------------------- feature section starts ---------------------------------------- */

.feature .feature-slider{
  padding-bottom: 4rem;
}

.feature .feature-slider .box{
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 1rem 0;
}

.feature .feature-slider .box .image{
  height: 40rem;
  width: 100%;
  overflow: hidden;
}

.feature .feature-slider .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feature .feature-slider .box:hover .image img{
  transform: scale(1.2);
}

.feature .feature-slider .box .content{
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.feature .feature-slider .box .content h3{
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .3);
  padding: .2rem;
  margin-top: .5rem
}

.feature .feature-slider .box .content .price{
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  background: var(--main_color);
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
}

.feature .feature-slider .box:hover .content .price{
  background: none;
  border: .3rem solid #fff;
}

/* ---------------------------------------- feature section ends ---------------------------------------- */

/* ---------------------------------------- schedule section starts ---------------------------------------- */

.schedule{
  background: #eee;
}

.schedule .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.schedule .box-container .box{
  background: #fff;
  overflow: hidden;
}

.schedule .box-container .box .content{
  padding: 2rem;
}

.schedule .box-container .box .content h3{
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: .5rem;
}

.schedule .box-container .box .content p{
  color: #333;
  font-size: 1.5rem;
  line-height: 1.8;
}

.schedule .box-container .box .content icons{
  padding: 0 2r.em;
} 

.schedule .box-container .box .content .icons span{
  display: block;
  font-size: 1.3rem;
  color: #333;
  padding: .3rem 0;
}

.schedule .box-container .box .content .icons span i{
  margin-right: .5rem;
}

.schedule .box-container .box .btn{
  margin: 1.5rem 2rem;
  background: var(--main-color);
  color: #fff;
}

.schedule .box-container .box .btn:hover{
  background: #f66a97;
}

.schedule .box-container .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------------------- schedule section ends ---------------------------------------- */

/* ---------------------------------------- trainer section starts ---------------------------------------- */

.trainers .trainer-slider{
  padding-bottom: 4rem;
}

.trainers .trainer-slider .box{
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 1rem 0;
}

.trainers .trainer-slider .box .image{
  height: 40rem;
  width: 100%;
  overflow: hidden;
}

.trainers .trainer-slider .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.trainers .trainer-slider .box .name{
  padding: 2rem;
}

.trainers .trainer-slider .box .name h1{
  font-size: 3rem;
  color: #333;
  font-weight: 600;
}

.trainers .trainer-slider .box .name p{
  font-size: 2rem;
  color: #808080;
}

/* ---------------------------------------- trainer section ends ---------------------------------------- */

/* ---------------------------------------- testimonial section starts ---------------------------------------- */

.testimonial .box-container{
  display: grid;
  grid-tempelate-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 7rem 0;
}

.testimonial .box-container .box{
  padding: 2rem;
  position: relative;
  text-align: center;
  background: #fafafa;
  box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
}

.testimonial .box-container .box:hover{
  transform: translateY(-5%);
  transition: .5s linear;
  background: #fff;
  border: .2rem solid #f8f8a1;
}

.testimonial .box-container .box .image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.testimonial .box-container .box .image img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  position; absolute;
  top: -6rem
}

.testimonial .box-container .box .name{
  padding: 1rem 0;
}

.testimonial .box-container .box .name h1{
  font-size: 2rem;
  color: var(--black-color);
}

.testimonial .box-container .box .name p{
  color: #222;
  font-size: 1.3rem;
}

.testimonial .box-container .box .name p span{
  text-transform: none;
  color: #808000;
}

.testimonial .box-container .box p{
  font-size: 1.5rem;
  color: #696969;
  font-weight: 400;
  line-height: 1.8;
}

/* ---------------------------------------- testimonial section ends ---------------------------------------- */

/* ---------------------------------------- blogs section starts ---------------------------------------- */

.blogs .blogs-slider{
  padding-bottom: 4rem;
}

.blogs .blogs-slider .box{
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
  background: #fafafa;
  box-shadow: 0 .5rem rgba(0, 0, 0, .3);
}

.blogs .blogs-slider .box .image{
  height: 40rem;
  width: 100%;
  overflow: hidden;
}

.blogs .blogs-slider .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .blogs-slider .box:hover .image img{
  transform: scale(1.2);
}

.blogs .blogs-slider .box .content{
  padding: 2rem;
  padding-bottom: 1rem;
}

.blogs .blogs-slider .box .content h3{
  font-size: 2rem;
  color: var(--black-color);
  font-weight: bold;
  padding-bottom: 1rem;
}

.blogs .blogs-slider .box .content span{
  font-size: 1.3rem;
  color: #808080;
}

.blogs .blogs-slider .box .content span i{
  margin-right: .5rem;
  color: var(--main-color);
}

.blogs .blogs-slider .box .content p{
  padding-top: 1rem;
  color: #808080;
  font-size: 1.5rem;
  line-height: 1.8;
}

.blogs .blogs-slider .box .button{
  text-align: center;
  padding-button: 2rem;
}

.blogs .blogs-slider .box .button .btn{
  background: var(--main-color);
  color: #fff;
}

/* ---------------------------------------- blogs section ends ---------------------------------------- */

/* ---------------------------------------- footer section starts ---------------------------------------- */

.footer{
  background: #222;
}

.footer .box-container{
  display: grid;
  grid-tempelate-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box{
  padding: 2rem;
}

.footer .box-container .box h1{
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: 1rem;
}

.footer .box-container .box .text{
  color: #eee;
  font: 1.3rem;
  font-weight: normal;
  linear-height: 1.8;
  padding-bottom: 1rem;
}

.footer .box-container .box .icon{
  padding: 1rem 0;
}

.footer .box-container .box .icon a i{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: var(--main-color);
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  margin: 0 .5rem;
  color: #fff;
}

.footer .box-container .box .icon a i:hover{
  color: var(--main-color);
  background: none;
  border: .2rem solid var(--main-color);
}

.footer .box-container .box .icon a{
  display: block;
  color: #fff;
  font-size: 1.5rem;
  margin: 1.5rem
}

.footer .box-container .box .icons a{
  display: block;
  color: #fff;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.footer .box-container .box .icons a i{
  margin-right: .5rem;
  color: var(--main-color);
}

.footer .box-container .box .icons a:hover i{
  padding-right: 2rem;
  color: #fff;
}

.footer .box-container .box .icons a:hover{
  color: var(--main-color);
}

.footer .credit{
  padding: 3rem 0;
  text-align: center;
  border-top: .1rem solid #808080;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: #eee;
}

.footer .credit span{
  color: #003300;
}

/* ---------------------------------------- footer section ends ---------------------------------------- */



body{
  height: 200rem;
}

/* ---------------------------------------- media queries section ---------------------------------------- */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }
  
  .header.active{
    padding: 2rem;
  }
  
}

/* ---------------------------------------- for maxwidth 768px ---------------------------------------- */

@media (max-width: 768px) {
  #menu-btn {
    diplay: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    border-top: 0.1rem solid #eee;
    clip-path: polygon(0 0, 100% 0, 0 0);
  }
  
  .header .navbar.active{
    clip-path: polygon(0 0, 100% 100%, 0 100%)
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
  
  .feature .feature-slider .box .content h3{
    padding: 1rem;
  }
  
  .testimonial .box-container{
    padding: 1rem 0;
  }
  
  .testimonial .box-container .box{
    margin-top: 6rem;
  }
  
}

/* ---------------------------------------- for maxwidth 450px ---------------------------------------- */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header .icons a {
    letter-spacing: none;
    font-size: 1.3rem;
    padding: 1rem;
  }
}
